.table {
  border: 10px rgb(78, 66, 78) dashed;
}
.alert {
  background-color: rgb(98, 129, 129);
}
.form-control::placeholder {
  color: white;
}
.form-control{
  background-color: rgb(98, 129, 129) !important;
}